@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/metricas.css);
@import url(styles/vagas.css);




:root {
    --cor_vinho: #8E2424;
    --cor_cinza_escuro: #3A404E;
    --cor_cinza_claro: #667085;
    --cor_branco: #ffff;
    --fonte_principal: "Inter";
}



body{
    font-size: 16px;
    font-weight: 500;
}