.vagas{
    font-family: var(--fonte_principal);
    margin: 8em;
}

.chamada{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap:20px
}

.chamada_subtitulo{
    background: rgba(142, 36, 36, 0.05);
    text-align: center;
    padding: 0.5em;
    margin: auto;
    font-size: 14px;
    font-weight: 500;
    color: var(--cor_vinho);
    border-radius: 16px;
}

.chamada_titulo{
    font-size: 36px;
    font-weight: 600;
}

.chamada_descricao{
    color: var(--cor_cinza_claro);
    font-size: 20px;
}

.imagem_chamada{
    width: 1226px;
    height: 500px;
    margin: 2em 0;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1em 20%;
}

.card_vaga{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.categoria{
    font-size: 20px;
    font-weight: 500;
    margin: 1.5em 0 1.5em 0;
}

.descricao{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px 24px 28px 24px;
    border-radius: 16px;
    border: 1px solid var(--gray-200, #EAECF0);
    background: var(--base-white, #FFF);
    width: 100vh;
}

.vaga_titulo{
    font-size: 18px;
    font-weight: 500;
}

.card_dados_vaga{
    display: flex;
    gap: 24px;
}
.dados_vaga{
    color: var(--cor_cinza_claro);
    font-size: 16px;
    font-weight: 500;
}